.hideme {
	display: none;
}

.index_background, .auth_background, .register_background, .user_background  {
	background: url('/images/site/index_background.jpg') no-repeat center top / cover;
	width: 100%;
	height: 1080px;
}

.auth_background {
	background: url('/images/site/auth_background.jpg') no-repeat center top / cover;
}

.register_background {
	background: url('/images/site/register_background.jpg') no-repeat center top / cover;
}

.user_background {
	background: url('/images/site/user_background.jpg') no-repeat center top / cover;
}

.header {
	background-color: rgba(50,50,50,1);
	height: 65px;
	width: 101%;
	border-bottom: 1px solid gray;
	position: relative;
}

.lang_block {
	position: absolute;
	right: 10%;
	top: 30%;
}

.lang_block > span {
	color: white;
}

.logout_block {
	position: absolute;
	right: 5%;
	top: 30%;	
}

.home {
	font-family: Roboto;
	font-size: 32px;
	color: #cccccc;
}

.home:hover {
	color: black;
	text-decoration: none;
}

.welcome {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.vertical-center {
	height: 562px;
	display: grid;
	align-content: center;
}

.form_label {
	color: white;
}

.profile {
	margin-top: 10px;
	background-color: white;
	height: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 15px;
}

.base_info {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.aboutme {
	word-wrap: break-word;
}

.avatar {
	display: block;
}
